<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- So you need jquery to do the ajax command make sure this is in all ejs files -->
</head>
<body>

<% include templates/header.ejs%>
<h1><%= title %></h1>
<p style = "text-align: center;">Welcome!</p>
</body>
</html>