<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<% include templates/header.ejs%>
<h1><%= title %></h1>
<br><br><br>

<!-- Place this code where you'd like the game to appear -->
<div class="miniclip-game-embed" data-game-name="mimelet" data-theme="0" data-width="100%" data-height="520" data-language="en"><a href="http://www.miniclip.com/games/mimelet/">Play Mimelet</a></div>
<br><br><br>
<a href="/win"><img src="/images/game_banner.jpg" alt="Win a free dessert at Party of Four!" /></a>

<!-- Insert this code before your </body> tag -->
<script src="//static.miniclipcdn.com/js/game-embed.js"></script>

</body>
</html>