<div class = "container">
    <ul class="pull-left">
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/pay">Pay</a></li>
        <li><a href="/survey">Survey</a></li>
    </ul>

    <ul class="pull-right">
        <li><a href="#">Call for Assistance</a></li>
        <li><a href="#">Drink Refill</a></li>
    </ul>
</div>